body {
    background-color: #f2f2f2; /* Background color */
    color: #333; /* Text color */
    font-family: Arial, sans-serif; /* Font family */
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    width: 100%;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #111;
  }
  
 

  .find-icon {
    width: 40px;
    height: 40px;
    filter: invert(100%);
}

html{
    box-sizing: border-box;
    font-size: 100%;
}

*, *::before, *::after{
    box-sizing: inherit;
}
body{
    margin: 0;
    padding: 0;
}

#map {
  height: 400px; /* The height is 400 pixels */
  width: 100%; /* The width is the width of the web page */
}



footer.container {
  background-color: #b9b7b7; /* Background color */
  color: #fff; /* Text color */
  padding: 20px; /* Padding */
  position: fixed; /* Position fixed */
  bottom: 0; /* Stick it to the bottom of the viewport */
  width: 100%; /* Full width */
}



footer.container p {
  margin: 0; /* Remove default margin */
}

footer.container a {
  color: #fff; /* Link color */
  text-decoration: none;
}

footer.container a:hover {
  text-decoration: underline; /* Add underline on hover */
}

.float-end {
  float: right; /* Float the element to the right */
}

.gm-style-iw-d{
  color: black;
}
